run = "npm run dev"
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[agent]
expertMode = true

[nix]
packages = ["lsof", "run"]
